@CHARSET "UTF-8";

h1.homeName {
	text-align: center;
}

div.oldestFoto, div.oldFoto, div.mainFoto{
	border: 1px solid silver;
	padding: 5px;	
}
.latestFotos div.oldestFoto {
	width: 100px;
	margin: 0 auto;
	overflow: hidden;
}

.latestFotos div.oldFoto {
	width: 125px;
	margin: 0 auto;
	overflow: hidden;
}

.latestFotos div.mainFoto {
	width: 150px;
	margin: 0 auto;
	overflow: hidden;
}

.futureFoto1 i, .futureFoto2 i{
	display: none;
}


.row.usageGraph{
	margin-top: 150px;
	text-align: center;
}
.usageGraph-wrapper{
	display: inline-block;
}
.day {
    width: 10px;
    height: 10px;
    background: #EEE;
    margin: 1px;
    float: left;
}
.fotoDone{
	background: #30D51F;
}
.fotoNotDone{
	background: #BBB;
}

.week{
    height:120px;
    width: 10px;
    float:left;
    margin-right: 2px;
}

/*
 * PROFILE.html
 */
#container {
	position: relative;
}

#mainCanvas {
	border: 1px solid #000;
}

#tmpCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
}


/*
 *	MEDIA QUERIES
 */
@media(max-width:767px){
	
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
	.latestFotos{
		-webkit-perspective: 500px;
	}
	
	div.oldestFoto, div.oldFoto, div.mainFoto{
		border: none;
		padding: 0px;	
	}
	
	.latestFotos div.oldestFoto {
		width: 150px;
		-webkit-transform: rotateY(70deg);
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.5)));
	}
	
	.latestFotos div.oldFoto {
		width: 150px;
		-webkit-transform: rotateY(45deg);
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.6)));
	}
	
	.latestFotos div.mainFoto {
		width: 150px; 
		margin: 0 auto;
		overflow: visible;
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.7)));
	}
	
	.latestFotos div .futureFoto1 {
		width: 150px;
		height: 200px; 
		background-color: #eee;
		-webkit-transform: rotateY(-45deg);
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.6)));
	}
	.latestFotos div .futureFoto2 {
		width: 150px;
		height: 200px; 
		background-color: #eee;
		-webkit-transform: rotateY(-70deg);
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.5)));
	}
	
	.futureFoto1 i, .futureFoto2 i{
		display: inline-block;
		position: relative;
		top: 45%;
		left: 42%;
	}
}
@media(min-width:1200px){
	
}